<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bootstrap.title %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @bootstrap.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @bootstrap.lname %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @bootstrap.rating %>
</p>

<%= link_to 'Edit', edit_bootstrap_path(@bootstrap) %> |
<%= link_to 'Back', bootstraps_path %>
